.fb-btn{
    --background:#4267b2;
    --color:white;
    --background-activated:#4267b2;
    --background-hover:#4267b2;
    --background-focused:#4267b2;
}
.g-plus-btn{
    --background:#dd4b39;
    --color:white;
    --background-activated:#dd4b39;
    --background-hover:#dd4b39;
    --background-focused:#dd4b39;
}
