.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
}
.wrapper.vertical{
   
    flex-direction:column;
}
.wrapper.horizontal{
    flex-direction:row;
}
.center-vertical{
    display: flex;
  align-items: center;
}
.center-horizontal{
    display: flex;
  justify-content: center;
}

::ng-deep.swiper-pagination-bullet{
    opacity: 0.9;
}
.slide-wrapper{
    display: flex;
    background: white;
    height: 100%;
    width:100%;
    flex-direction: column
}